body{
    background-color: #f6f5f5;
    margin: 0px;
    padding: 0px;  
    animation: fadeInAnimation 2s;
}

@keyframes fadeInAnimation { 
    from { 
        opacity: 0; 
    } 
    to { 
        opacity: 1; 
     } 
} 

.logo{
    font-family: sans-serif;
    color: #000000;
    font-size: 25px;
    font-weight: bold;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
}

nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li{
    float: right;
}

nav ul li a{
    display: block;
    text-align: center;
    padding: 18px 30px;
    text-decoration: none;
    font-family: sans-serif;
    color: #505050;
    font-size: 20px;
    font-weight: lighter;
}

nav ul li a:hover{
    background-color:#f3f3f3 ;
}

nav .active {
    background-color: #ebebeb;
    font-weight: 700;
  }

  .contact-me{
    margin-top: 10%;
    width: 100%;
    height: 400px;
    background-color: #1a1a1a;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-me p:nth-child(2){
    color: #ffffff;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}

.contact-me #submit{
    width: 200px;
    height: 40px;
    background-color: #ffffff;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    line-height: 30px;
    transition-duration: 0.6s;
}


.contact-me #submit:hover{
    border-width: 2px;
    background-color:#00B5B7;
    color: #f6f5f5;
    border-color: #fff;
}
.contact-me p:nth-child(4){
    color: #ffffff;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

.links {
    display: grid;
    grid-template-columns: auto auto auto; 
    grid-gap: 30px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 5px;
  }
  
.fa-linkedin{
    background: #333333;
    color: white;
    transition-duration: 0.2s; 
}


.fa-github{
    background: #333333;
    color: white;
    transition-duration: 0.2s; 
}

.fa-instagram{
    background: #333333;
    color: white;
    transition-duration: 0.2s; 
}

.fa-instagram:hover{
    background:  #E1306C;
}

.fa-github:hover{
    background:#2ea44f;
}

.fa-linkedin:hover{
    background:#2867B2;
}


.about{
    align-items: center;
}

.about p:nth-child(1){
    font-size: 50px;
    font-family: sans-serif;
    color: #333333;
    text-align: center;
}



img{
    width: 50%;
}

.div-post{
    width: 97%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
    margin-top: -180px;
}

.blog-post{
    width: 70%;
    height: 50%;
    max-width: 70rem;
    padding: 3rem;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
}

.blog-post__img{
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    transform: translate(-8rem,4rem);
    position: relative;
}

.blog-post__img img{
    width: 70%;
    height: 70%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}

.blog-post__img::before{
    content: '';
    width: 70%;
    height: 70%;
    position: absolute;
    top:0;
    left: 0;
    background: #00b4b793;
    box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, 0.2);
    border-radius: .8rem;
    transition-duration: 0.3s;
}

.blog-post__img:hover::before{
    background: #1a1a1a28;
}

.blog-post__info{
    padding: 10px;
    transform: translateX(-5rem);
}

.blog-post__date span{
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.6rem;
    font-weight: 600;
    margin: .5rem 0;
}

.blog-post__title{
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: #00B5B7;
    font-family: sans-serif;
}

.blog-post__text{
    font-size: 1rem;
    font-family: sans-serif;
    color: #1a1a1a;
}

.blog-post__info a{
    margin-left: 10px;
    padding: 10px;
    color:#f3f3f3;
    background-color: #00B5B7;
    border-radius: 10px;
}

.blog-post__info a:hover{
    background-color: #1a1a1a;
}